@font-face {
font-family: 'HEX Condensed Bold'; 
src: url('https://raw.githubusercontent.com/ruhmgmbh/website_font/main/fonts/condensed/ruhm_Condensed-Bold.woff2') format('woff2'); 
font-weight: bold; 
font-style: normal;
}