@font-face {
font-family: 'HEX Condensed Bold'; 
src: url('https://ruhmgmbh.github.io/website_font/fonts/condensed/ruhm_Condensed-Bold.woff2') format('woff2'); 
font-weight: bold; 
font-style: normal;
}