@font-face {
font-family: 'HEX Condensed Bold'; 
src: url('https://github.com/ruhmgmbh/website_font/blob/main/condensed/ruhm_Condensed-Bold.woff2') format('woff2'); 
font-weight: bold; 
font-style: normal;
}